@import "tailwindcss";

@theme {
    --font-display: "IBM Plex Sans", "sans-serif";
    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 160rem;
}

@layer utility {
    .flex-center {
        @apply flex items-center justify-center;
    }
    .col-center {
        @apply flex flex-col items-center justify-center;
    }
    .flex-stretch{
        @apply flex flex-col md:flex-row items-stretch justify-center
    }
    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .after-abs-center {
        @apply after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2;
    }
    .after-wh-full {
        @apply after:w-full after:h-full;
    }
    .transform-300 {
        @apply transform transition-transform duration-300;
    }
    .h1-bold{
        @apply font-bold text-3xl md:text-4xl xl:text-6xl 2xl:text-7xl 4xl:text-8xl;
    }
    .h1-md{
        @apply font-semibold text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl;
    }
    .h2-bold{
        @apply font-bold text-2xl md:text-3xl xl:text-4xl 2xl:text-[2.5rem];
    }
    .h3-md{
        @apply text-xl xl:text-2xl 4xl:text-[1.625rem];
    }
    .h3-base{
        @apply text-base lg:text-lg xl:text-xl 2xl:text-2xl;
    }

    .saw-md{
        @apply shadow-[0px_4px_8px_rgba(0,0,0,0.12)\,0px_-4px_8px_rgba(0,0,0,0.12)]
    }

    /* Color and Bg-image */

    .gradient-pry{
        @apply bg-linear-[90deg,#0774c2_85%,#569ce6_100%] hover:bg-none hover:bg-white;
    }

    .gradient-blur-pry{
        @apply bg-linear-[180deg,#0774c2_0%_15%,#00000000_35%_100%] hover:bg-none hover:bg-white
    }

    /* Base styles for all sections */

    .service-section {
        @apply absolute top-0 left-0 inset-0 w-full opacity-0 translate-y-10 z-0 transition-all duration-500;
    }

    .media-section {
        @apply absolute top-0 left-0 inset-0 w-full opacity-0 translate-y-10 z-0 transition-all duration-500;
    }

    .manag-section {
        @apply absolute top-0 left-0 inset-0 w-full opacity-0 translate-y-10 z-0 transition-all duration-500;
    }

    .location-section {
        @apply absolute top-0 left-0 inset-0 w-full opacity-0 translate-y-10 z-0 transition-all duration-500;
    }

    /* When svc-1 is checked, show #services-one */
    #svc-1:checked ~ .relative #services-one,
    #svc-2:checked ~ .relative #services-two,
    #svc-3:checked ~ .relative #services-three,
    #svc-4:checked ~ .relative #services-four,
    #svc-5:checked ~ .relative #services-five {
    @apply relative opacity-100 translate-y-0 z-10;
    }

    /* When svc-1 is checked, color only its label */
    #svc-1:checked ~ .tab-list label[for="svc-1"],
    #svc-2:checked ~ .tab-list label[for="svc-2"],
    #svc-3:checked ~ .tab-list label[for="svc-3"],
    #svc-4:checked ~ .tab-list label[for="svc-4"],
    #svc-5:checked ~ .tab-list label[for="svc-5"] {
        background-color: var(--primary-color);
        color: white;
    }

    #mda-1:checked ~ .relative #media-one,
    #mda-2:checked ~ .relative #media-two,
    #mda-3:checked ~ .relative #media-three {
    @apply relative opacity-100 translate-y-0 z-10;
    }

    /* When mda-1 is checked, color only its label */
    #mda-1:checked ~ .tab-list label[for="mda-1"],
    #mda-2:checked ~ .tab-list label[for="mda-2"],
    #mda-3:checked ~ .tab-list label[for="mda-3"] {
        color: var(--primary-clr-lit);
    }

    #mag-1:checked ~ .relative #manag-one,
    #mag-2:checked ~ .relative #manag-two,
    #mag-3:checked ~ .relative #manag-three {
    @apply relative opacity-100 translate-y-0 z-10;
    }

    /* When mag-1 is checked, color only its label */
    #mag-1:checked ~ .tab-list label[for="mag-1"],
    #mag-2:checked ~ .tab-list label[for="mag-2"],
    #mag-3:checked ~ .tab-list label[for="mag-3"] {
        color: var(--primary-clr-lit);
    }

    #loc-0:checked ~ .relative #location-zero,
    #loc-1:checked ~ .relative #location-one,
    #loc-2:checked ~ .relative #location-two,
    #loc-3:checked ~ .relative #location-three,
    #loc-4:checked ~ .relative #location-four {
    @apply relative opacity-100 translate-y-0 z-10;
    }

    /* When loc-1 is checked, color only its label */
    #loc-0:checked ~ .tab-list label[for="loc-0"],
    #loc-1:checked ~ .tab-list label[for="loc-1"],
    #loc-2:checked ~ .tab-list label[for="loc-2"],
    #loc-3:checked ~ .tab-list label[for="loc-3"],
    #loc-4:checked ~ .tab-list label[for="loc-4"] {
        color: #F6670B;
    }
}

@layer utilities {
    .transition-height {
        transition: height 0.5s ease-in-out;
    }

}

*, *::before, *::after {
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;   
}

:root {
    --font-family: "IBM Plex Sans", "sans-serif";
    --primary-color: #004EA1;
    --secondary-color: #ddf1ff;
    --primary-clr-lit: #F6670B;
    --secondary-clr-lit: #3B7FC8;
}

@keyframes scroll-left {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(50% - var(--scroll-width))); }
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-track {
    display: flex;
    white-space: nowrap;
    will-change: transform;
  }


/* 1. play the infinite scroll */
.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
}

/* 2. on container hover → gray everything */
.logo-slider:hover .slide img {
  @apply filter grayscale;
}

/* 3. on individual slide hover → reset that one */
.logo-slider .slide:hover img {
  @apply filter grayscale-0;
}

.logo-slider:hover .slide-track {
    animation-play-state: paused;
}

.scrollbar-none {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel-banner {
    animation: carousel 30s infinite linear;
    scroll-behavior: smooth;
    transform-style: preserve-3d;
}


.carousel-track {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

